@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

#main {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  background-color: #eee;
  border-radius: 0.625rem;
  line-height: 1.5;
}
#title {
  text-align: center;
  padding: 1.25rem;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  margin-bottom: 0.625rem;
  border-radius: 0.625rem;
}
#img-caption {
  text-align: center;
}
#tribute-info {
  padding: 1.25rem;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
a {
  text-decoration: none;
}
p {
  line-height: 2rem;
}
@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}
@media (max-width: 460px) {
  #main {
    margin: 0 auto;
  }
}
@media (max-width: 460px) {
  h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
}
